body
{
    background-color: rgb(233, 231, 231);
}

img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-ctr {
    width: 17%;
    border: 1px solid lightslategray;
    display: inline-block;
    margin-right: 20px;
    border-radius: 5px;
    background-color: white;
}

.text-container {
    padding: 10px;
}

.tittle {
    font-weight: bold;
    font-size: 20px;
}