html, body {
    height: 99%;
}

body {
    background-color: rgb(230, 230, 230);
}

div {
    border: 2px solid rgb(0, 127, 0);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: white;
}

.element {
    border: 2px solid rgb(0, 0, 255);
    margin: 20px;
    padding: 20px;
}

main {
    flex-grow: 4;
}