section {
    border:1px dashed black;
    padding: 0px 20px 20px 20px;
}

.margin {
 background-color: salmon;
 width: 30%;
 margin:auto;
}

.border {
 background-color: peachpuff;
}

.padding {
background-color: lightgreen;
}

.content {
background-color: lightblue; 
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
}