h1{
    color:rgb(124, 1, 1);
    font-size:70px;
    text-align: center;
}
li{
    color:rgb(0, 128, 0);
}

.goldenSongs{
    color:rgb(151, 129, 1);
}

#special{
    color:blue;
}

li#special{
    color:purple;
}

li.goldenSongs#hi{
    color: brown;
}

section p{
    font-size:20px;
    color:red;
}